/* taken from http://www.w3.org/TR/xpath-datamodel/ */

code { 
  font-family: monospace; 
}
div.exampleOuter {
  border: 4px double gray;
  margin: 0em; padding: 0em;
}
div.exampleInner pre {
  margin-left: 1em;
  margin-top: 0em;
  margin-bottom: 0em;
}
div.exampleInner {
  background-color: #d5dee3;
  border-top-width: 4px;
  border-top-style: double;
  border-top-color: #d3d3d3;
  border-bottom-width: 4px;
  border-bottom-style: double;
  border-bottom-color: #d3d3d3;
  padding: 4px; margin: 0em;
  color: black;
}
div.exampleWrapper {
  margin: 4px;
}
div.exampleHeader {
  font-weight: bold;
  margin: 4px;
}
